body{
    background-color: rgba(146, 199, 199,0.4);
    
 }
.box {
    width: 258px;
    height: 450px;
    margin: 150px auto;
    background-color: white;
    border-radius: 10px;
    text-align: center;
    overflow: hidden;
    
    
}
.img{
    width: 100%;
    border-radius: 10px;
}
.inline{
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 13px;
    

}
.i-cadre{
    width: 25px;
    height: 25px;
    background-color: #aeaaaa;
    border-radius: 50%;
    text-align: center; 
    margin-left:20px ;
    
}
.text{
    padding: 20px;
}

i{
    margin: 5px auto;
    color: #888484;
}
.el2{
    display: flex;
    flex-direction: column;
    width: 120px;
    text-transform: capitalize;
    margin-right: 40px;
    padding: 0%;
}
button{
    display: block;
    margin: 10px auto;
}
.spann{
    display: block;
    margin:25px;
    text-transform: capitalize;
    color: gray;
    
}
h1{
    text-transform: capitalize;
    font-size: 25px;
}


p{
    color: gray;
}
button{ 
   width: 200px ;
   height: 30px;
   background-color: rgb(57,42,231); 
   border: none;
   border-radius: 7px;
   color: aliceblue;
   text-transform: capitalize;
    font-family: 'Montserrat', sans-serif;
}
.gray{
    color: gray;
}
